<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="Redirect service request to ASP.Net script" enabled="true" stopProcessing="true">
                    <match url="^/service/\?path=.*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./service.ashx" />
                </rule>

                <!--
                    Rewrite ALL the URLs pointing to folders within the root to index.html
                    The page which will get loaded will display files within that folder
                -->
                <rule name="Redirect folder-viewer paths to index.html" enabled="true" stopProcessing="true">
                    <match url="^(\w|/)+/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./index.html" />
                </rule>
                
                <!-- Rewrite all the URLs pointing to the JPEG image files outside the "images" folder to index.html, so that the sphere viewer can be displayed.
                This rule is not activated in case the URL points to a jpeg file inside
                the "images" folder - in such cases the original JPEG image should be returned.

                This rule is based on the following article:
                 https://stackoverflow.com/questions/5925738/which-regular-expression-operator-means-dont-match-this-character#5925772
                -->
                <rule name="Redirect ALL viewer paths to index.html" enabled="true" stopProcessing="true">
                    <match url="^(?!images|assets).{6}(\w|/)+\.(jpg|jpeg)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
