<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <rewrite>
            <rules>
                <clear />
                <!-- KILL SWITCH: ako je slijedeće pravilo omogućeno (enable=true) sve stranice će biti zamijenjene sa "Remont opreme" -->
                <rule name="Redirect ALL to index" enabled="true" stopProcessing="true">
                    <match url="^(\w|/)+/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/photo-sphere-gallery/dist/index.html" />
                </rule>
            </rules>
        </rewrite>
	</system.webServer>
</configuration>
