<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <rewrite>
            <rules>
                <clear />
                <!-- KILL SWITCH: ako je slijedeće pravilo omogućeno (enable=true) sve stranice će biti zamijenjene sa "Remont opreme" -->
                <rule name="Redirect folder-viewer paths to index.html" enabled="true" stopProcessing="true">
                    <match url="^(\w|/)+/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/photo-sphere-gallery/dist/index.html" />
                </rule>
                <rule name="Redirect ALL sphere-viewer paths to index.html" enabled="true" stopProcessing="true">
                    <!-- skip all URLs starting with "images", since they reference the real images
                         https://stackoverflow.com/questions/5925738/which-regular-expression-operator-means-dont-match-this-character#5925772
                    -->
                    <match url="^(?!images).{6}(\w|/)+\.(jpg|jpeg)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/photo-sphere-gallery/dist/index.html" />
                </rule>
            </rules>
        </rewrite>
	</system.webServer>
</configuration>
